<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26_imageBottom</string>
		<key>imageLeft</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26_imageLeft</string>
		<key>imageRight</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26_imageRight</string>
		<key>imageSample</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26_imageSample</string>
		<key>imageTop</key>
		<string>6FA7D4F7-60FC-4853-9748-7E12B0CDAC26_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599_imageBottom</string>
		<key>imageLeft</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599_imageLeft</string>
		<key>imageRight</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599_imageRight</string>
		<key>imageSample</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599_imageSample</string>
		<key>imageTop</key>
		<string>37B3C21D-7938-4996-B322-6A908D70E599_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67_imageBottom</string>
		<key>imageLeft</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67_imageLeft</string>
		<key>imageRight</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67_imageRight</string>
		<key>imageSample</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67_imageSample</string>
		<key>imageTop</key>
		<string>46A0C492-E14B-4887-A53A-238D8754BD67_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB_imageBottom</string>
		<key>imageLeft</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB_imageLeft</string>
		<key>imageRight</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB_imageRight</string>
		<key>imageSample</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB_imageSample</string>
		<key>imageTop</key>
		<string>AA1C612A-9F82-478D-93DC-F6C6D914F7CB_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>CB084A54-8C85-4B00-A356-448238107810</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>CB084A54-8C85-4B00-A356-448238107810_imageBottom</string>
		<key>imageLeft</key>
		<string>CB084A54-8C85-4B00-A356-448238107810_imageLeft</string>
		<key>imageRight</key>
		<string>CB084A54-8C85-4B00-A356-448238107810_imageRight</string>
		<key>imageSample</key>
		<string>CB084A54-8C85-4B00-A356-448238107810_imageSample</string>
		<key>imageTop</key>
		<string>CB084A54-8C85-4B00-A356-448238107810_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E_imageBottom</string>
		<key>imageLeft</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E_imageLeft</string>
		<key>imageRight</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E_imageRight</string>
		<key>imageSample</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E_imageSample</string>
		<key>imageTop</key>
		<string>8F3FBA7B-8901-4BEC-A297-03530F83761E_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F_imageBottom</string>
		<key>imageLeft</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F_imageLeft</string>
		<key>imageRight</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F_imageRight</string>
		<key>imageSample</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F_imageSample</string>
		<key>imageTop</key>
		<string>5B666911-35AC-48FF-8612-C9237EDE5A3F_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639_imageBottom</string>
		<key>imageLeft</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639_imageLeft</string>
		<key>imageRight</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639_imageRight</string>
		<key>imageSample</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639_imageSample</string>
		<key>imageTop</key>
		<string>8BB7E6B4-326A-40E4-8FEA-A8DAD3189639_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B_imageBottom</string>
		<key>imageLeft</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B_imageLeft</string>
		<key>imageRight</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B_imageRight</string>
		<key>imageSample</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B_imageSample</string>
		<key>imageTop</key>
		<string>59F1F2AD-7883-46A2-B97B-CF339558BD7B_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22_imageBottom</string>
		<key>imageLeft</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22_imageLeft</string>
		<key>imageRight</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22_imageRight</string>
		<key>imageSample</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22_imageSample</string>
		<key>imageTop</key>
		<string>425D67D0-CBC8-4DD1-B42D-B648F125BA22_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2</string>
		<key>descender</key>
		<integer>0</integer>
		<key>descenderLeft</key>
		<integer>0</integer>
		<key>descenderRight</key>
		<integer>0</integer>
		<key>descenderTop</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2_imageBottom</string>
		<key>imageLeft</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2_imageLeft</string>
		<key>imageRight</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2_imageRight</string>
		<key>imageSample</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2_imageSample</string>
		<key>imageTop</key>
		<string>0B25AD76-B99B-4F8D-8AB9-E065563628D2_imageTop</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>BA0F9FDE-F45C-4F53-9589-4A0008BCD3BA</string>
		<key>descender</key>
		<integer>0</integer>
		<key>imageBottom</key>
		<string>BA0F9FDE-F45C-4F53-9589-4A0008BCD3BA_imageBottom</string>
		<key>imageSample</key>
		<string>BA0F9FDE-F45C-4F53-9589-4A0008BCD3BA_imageSample</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>800D1A75-DCBD-42F4-87C8-9ED9AEF34F48</string>
	</dict>
</array>
</plist>
